@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
	--font-family: 'Roboto', sans-serif;
	--color-primary: #0360d0;
	--color-text: #cbcbcb;

	--color-bg-1: #333842;
	--color-bg-2: #282c34;
	--color-bg-3: #21252b;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background-color: #25252b;
}
::-webkit-scrollbar-thumb {
    background-color: #101013;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
	border-collapse: collapse;
	border-spacing: 0;
	box-sizing: border-box;
	font-family: var(--font-family);
	color: var(--color-text);
}

#app {
	padding: 0 0px 0px;
	overflow-x: hidden;
	position: relative;
	background-color: var(--color-bg-2);
	height: 100vh;
	display: grid;
	grid-gap: 0px;
	/*grid-template-rows: auto auto 1fr;*/
	grid-template-rows: 1fr;
	grid-template-columns: auto 1fr;
	grid-template-areas: 
		"sidebar main"
		"sidebar main";
}

button {
	cursor: pointer;
	border-radius: 5px;
	padding: 10px 15px;
	font-size: 16px;
	background-color: var(--color-primary);
}
button img {
	width: 100%;
	height: auto;
}
button:hover {
	opacity: 0.8;
}

input[type=text] {
	width: 100%;
	margin-bottom: 10px;
	cursor: pointer;
	border-radius: 5px;
	padding: 10px 15px;
	font-size: 16px;
	background-color: var(--color-bg-3);
}
input[type=text]:focus {
	outline: none;
}

h1 {
	font-size: 42px;
}
h2 {
	font-size: 32px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 24px;
}
h5 {
	font-size: 22px;
}
h6 {
	font-size: 18px;
}

p {
	font-size: 16px;
}
b {
	display: block;
	font-size: 16px;
	font-weight: bold;
}
span {
	font-size: 12px;
	opacity: 0.5;
	text-transform: uppercase;
	letter-spacing: 1px;
}

hr {
    display: block;
    width: 100%;
    height: 1px;
    border: none;
    background-color: var(--color-bg-1);
    margin: 20px 0;
}

.sidebar {
	grid-area: sidebar;
	background-color: var(--color-bg-1);
	min-width: 230px;
	padding: 20px 20px;
}
.sidebar ul {
	list-style: none;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid var(--color-bg-2);
}
.sidebar ul:last-child {
	border-bottom: none;
}
.sidebar ul li {
	display: block;
	cursor: pointer;
	padding: 10px 15px;
	border-radius: 5px;
	margin: 2px 0;
}
.sidebar ul li:hover,
.sidebar ul li.active {
	background-color: var(--color-bg-2);
}
.sidebar ul li a {
    display: block;
    text-decoration: none;
}


.main {
	grid-area: main;
	background-color: var(--color-bg-2);
	padding: 20px 20px;
	overflow-y: auto;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.tabs {
	display: flex;
	grid-gap: 0px;
	margin-bottom: -1px;
}
.tabs .tab {
	cursor: pointer;
	padding: 0 10px;
	margin-top: 10px;
	font-size: 16px;
	padding-bottom: 20px;
}
.tabs .tab:hover,
.tabs .tab.active {
	border-bottom: 1px solid var(--color-primary);
}


.item {
	background-color: var(--color-bg-1);
	margin: 0 0 10px;
	border-radius: 5px;
}


.tasks button {
	float: right;
}
.task {
	padding: 10px 10px;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.task p {
	/* font-weight: lighter; */
	width: 100%;
}
.task span {
	font-size: 14px;
	font-weight: lighter;
	margin-left: 10px;
	cursor: pointer;
	background-color: var(--color-bg-1);
	padding: 10px 15px;
	margin: -10px;
	letter-spacing: 0;
	text-transform: none;
	opacity: 0.0;
}
.task span:hover {
	opacity: 1 !important;
	background-color: var(--color-bg-3);
}
.task span:active {
	background-color: rgba(255,255,255,.2);
}
.task input[type=checkbox] {
	margin-right: 10px;
	cursor: pointer;
	width: auto;
}
.task input[type=checkbox]:checked {
	opacity: 0.2;
}
.task input[type=checkbox]:checked + p {
	text-decoration: line-through;
	opacity: 0.2;
}
.task:hover span {
	opacity: 1;
}


.projects button {
	float: right;
}
.project {
    cursor: pointer;
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
    text-decoration: none;
}